<nav class="navbar navbar-expand-lg navbar-absolute navbar-transparent">
    <div class="container-fluid">
        <div class="navbar-wrapper">
            <div class="navbar-toggle d-inline">
                <button type="button" class="navbar-toggler">
                    <span class="navbar-toggler-bar bar1"></span>
                    <span class="navbar-toggler-bar bar2"></span>
                    <span class="navbar-toggler-bar bar3"></span>
                </button>
            </div>
            <!-- <a class="navbar-brand" href="/">Dashboard</a> -->
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Graph
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" id="myDropdown">
                    <a class="dropdown-item" href="#">
                        <img src="{{ASSETS_ROOT}}/img/guage.jpg">
                        Gauge
                    </a>
                    <a class="dropdown-item" href="#">
                        <img src="{{ ASSETS_ROOT }}/img/chart.png">
                        Scatter
                    </a>
                    <a class="dropdown-item" href="#">
                        <img src="{{ASSETS_ROOT}}/img/histogram.png">
                        Histogram
                    </a>
                    <a class="dropdown-item" href="#">
                        <img src="{{ASSETS_ROOT}}/img/heatmap.png">
                        Heatmap
                    </a>
                    <a class="dropdown-item" href="#">
                        <img src="{{ASSETS_ROOT}}/img/grapg.jpg">
                        Graph
                    </a>
                    <a class="dropdown-item" href="#">
                        <img src="{{ASSETS_ROOT}}/img/band.png">
                        Band
                    </a>



                </div>
            </div>
        </div>

        <style>
            .dropdown-menu {
                background-color: #263148;
            }

            .dropdown-item img {
                width: 30px;
                height: 30px;
                margin-right: 20px;
            }
        </style>


        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-bar navbar-kebab"></span>
            <span class="navbar-toggler-bar navbar-kebab"></span>
            <span class="navbar-toggler-bar navbar-kebab"></span>
        </button>
        <div class="collapse navbar-collapse" id="navigation">
            <ul class="navbar-nav ml-auto">
                <!-- <li class="search-bar input-group">
                    <button class="btn btn-link" id="search-button" data-toggle="modal"
                            data-target="#searchModal"><i class="tim-icons icon-zoom-split"></i>
                        <span class="d-lg-none d-md-block">Search</span>
                    </button>
                </li> -->
                <!-- <li class="input-group d-flex align-items-center mb-0"> -->
                <!-- <label class="switch theme-switch">
                                <input type="checkbox" class="bsc" checked="">
                                <span class="slider"></span>
                            </label> -->
                <!-- <div class="input-group">
                                <div class="form-outline" data-mdb-input-init>
                                  <input type="search" id="form1" class="form-control" />
                                  <label class="form-label" for="form1">Search</label>
                                </div>
                                <button type="button" class="btn btn-primary" data-mdb-ripple-init>
                                  <i class="fas fa-search"></i>
                                </button>
                            </div> -->
                <!-- </li> -->

                <li class="input-group d-flex  mb-0">
                    <form action="/" method="get">
                        <input type="text" name="asin" placeholder="Search..." class="form-control">
                        <button type="submit" class="btn btn-link" id="search-button">
                            <!-- <i class="tim-icons icon-zoom-split"></i> -->
                            <span class="d-lg-none d-md-block">Search</span>
                        </button>
                    </form>
                </li>


                <style>
                    #reportrange span {
                        color: rgb(255, 255, 255);
                    }

                    .daterangepicker .ranges li {
                        color: black;
                    }
                </style>

                <div id="reportrange"
                    style="background: #263148; cursor: pointer; padding: 5px 10px; border: 1px solid #263148; width: 100%">
                    <i class="fa fa-calendar"></i>&nbsp;
                    <span></span> <i class="fa fa-caret-down"></i>
                </div>

                <div class="time-range-form">
                    <form id="time-range-form" action="{% url 'time_upload_to_influx' %}" method="get">
                        <input type="hidden" name="start_time" id="start_time" value="">
                        <input type="hidden" name="end_time" id="end_time" value="">
                    </form>
                </div>


                <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
                <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
                <script type="text/javascript"
                    src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>



                <script type="text/javascript">
                    $(function () {

                        var start = moment().subtract(180, 'days');
                        var end = moment();

                        function cb(start, end) {
                            $('#reportrange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));

                            $('#reportrange').on('apply.daterangepicker', function (ev, picker) {


                                $('#time-range-form').submit();
                            });
                            // Retrieve the value using getElementById
                            start_time = getCookie('start_time') || start;
                            end_time = getCookie('end_time') || end;
                            document.getElementById('start_time').value = start;
                            document.getElementById('end_time').value = end;
                        }

                        $('#reportrange').daterangepicker({
                            startDate: start,
                            endDate: end,
                            ranges: {
                                'Today': [moment(), moment()],
                                'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                                'Last 7 Days': [moment().subtract(6, 'days'), moment()],
                                'Last 30 Days': [moment().subtract(29, 'days'), moment()],
                                'This Month': [moment().startOf('month'), moment().endOf('month')],
                                'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
                            }
                        }, cb);

                        cb(start, end);


                    });

                    function getCookie(name) {
                        const cookieValue = document.cookie
                            .split('; ')
                            .find(row => row.startsWith(name + '='))
                            .split('=')[1];
                        console.log("mycookie");
                        return cookieValue ? decodeURIComponent(cookieValue) : null;
                    }
                </script>


                <div class="upload-btn-wrapper">
                    <form id="upload-form" method="POST" enctype="multipart/form-data"
                        action="{% url 'upload_to_influxdb' %}">
                        {% csrf_token %}
                        <label for="file-upload" class="btn">Upload CSV</label>
                        <input id="file-upload" type="file" name="file" style="display: none;">


                    </form>
                </div>
                <div id="asinBox" style="display: none;">
                    <h3>ASIN IDs:</h3>
                    <div id="asinContent"></div>
                </div>

                <script>
                    document.getElementById('file-upload').addEventListener('change', function () {
                        document.getElementById('upload-form').submit();

                    });
                </script>

                <li class="dropdown nav-item">
                    <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
                        <div class="photo">
                            <img src="{{ ASSETS_ROOT }}/img/anime3.png" alt="Profile Photo">
                        </div>
                        <b class="caret d-none d-lg-block d-xl-block"></b>
                        <p class="d-lg-none">
                            Log out
                        </p>
                    </a>
                    <ul class="dropdown-menu dropdown-navbar">
                        <li class="nav-link">
                            <a href="/user.html" class="nav-item dropdown-item">Profile</a>
                        </li>
                        <li class="dropdown-divider"></li>
                        <li class="nav-link">
                            <a href="{% url 'logout' %}" class="nav-item dropdown-item">Logout</a>
                        </li>
                    </ul>
                </li>
                <li class="separator d-lg-none"></li>
            </ul>
        </div>
    </div>
</nav>
<div class="modal modal-search fade" id="searchModal" tabindex="-1" role="dialog" aria-labelledby="searchModal"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <form action="/" method="get"></form>
                <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="SEARCH">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i class="tim-icons icon-simple-remove"></i>
                </button>
            </div>
        </div>
    </div>
</div>