        <!-- Navbar -->\
        
    
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
        <nav class="navbar navbar-expand-lg navbar-absolute navbar-transparent">
            <div class="container-fluid">
                <div class="navbar-wrapper">
                    <div class="navbar-toggle d-inline">
                        <button type="button" class="navbar-toggler">
                            <span class="navbar-toggler-bar bar1"></span>
                            <span class="navbar-toggler-bar bar2"></span>
                            <span class="navbar-toggler-bar bar3"></span>
                        </button>
                    </div>
                    <a class="navbar-brand" href="/">Dashboard</a>
                </div>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-bar navbar-kebab"></span>
                    <span class="navbar-toggler-bar navbar-kebab"></span>
                    <span class="navbar-toggler-bar navbar-kebab"></span>
                </button>
                <div class="collapse navbar-collapse" id="navigation">
                    <ul class="navbar-nav ml-auto">
                        <li class="input-group d-flex align-items-center mb-0">
                            <label class="switch theme-switch">
                                <input type="checkbox" class="bsc" checked="">
                                <span class="slider"></span>
                            </label>
                        </li>
                        <form action="/" method="get">
                            <li class="search-bar input-group">
                                <input type="text" name="asin" placeholder="Search..." class="form-control">
                                <button type="submit" class="btn btn-link" id="search-button">
                                    <!-- <i class="tim-icons icon-zoom-split"></i> -->
                                    <span class="d-lg-none d-md-block">Search</span>
                                </button>
                            </li>
                        </form>
                        <!-- <li class="dropdown nav-item">
                            <a href="javascript:void(0)" class="dropdown-toggle nav-link" data-toggle="dropdown">
                                <i class="bi bi-upload" id="uploadIcon"></i>
                                <p class="d-lg-none">CSV file</p>
                            </a>
                        </li> -->

                        
                        <div class="upload-btn-wrapper">
                            <form id="upload-form" method="POST" enctype="multipart/form-data" action="{% url 'upload_to_influxdb' %}">
                                {% csrf_token %}
                                <label for="file-upload" class="btn">Upload CSV</label>
                                <input id="file-upload" type="file" name="file" style="display: none;">
                                
                            </form>
                        </div>
                        <script>
                            document.getElementById('file-upload').addEventListener('change', function() {
                                document.getElementById('upload-form').submit();
                            });
                        </script>
                 
                        <li class="dropdown nav-item">
                            <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
                                <div class="photo">
                                    <img src="{{ ASSETS_ROOT }}/img/anime3.png" alt="Profile Photo">
                                </div>
                                <b class="caret d-none d-lg-block d-xl-block"></b>
                                <p class="d-lg-none">
                                    Log out
                                </p>
                            </a>
                            <ul class="dropdown-menu dropdown-navbar">
                                <li class="nav-link">
                                    <a href="/user.html" class="nav-item dropdown-item">Profile</a>
                                </li>
                                <li class="dropdown-divider"></li>
                                <li class="nav-link">
                                    <a href="{% url 'login' %}" 
                                       class="nav-item dropdown-item">Logout</a>
                                </li>
                            </ul>
                        </li>
                        <li class="separator d-lg-none"></li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="modal modal-search fade" id="searchModal" tabindex="-1" role="dialog" aria-labelledby="searchModal"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="SEARCH">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <i class="tim-icons icon-simple-remove"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>

        
        