
    <div class="sidebar">
        <!--
          Tip 1: You can change the color of the sidebar using: data-color="blue | green | orange | red"
      -->
        <div class="sidebar-wrapper">
            <div class="logo">
                <a href="javascript:void(0)" class="simple-text logo-mini">
                    CT
                </a>
                <a href="javascript:void(0)" class="simple-text logo-normal">
                    Dashboard
                </a>
            </div>
            
            <ul class="nav">
                <li class="{% if 'index' in segment %} active {% endif %} ">
                    <a href="/">
                        <i class="tim-icons icon-chart-pie-36"></i>
                        <p><span style="font-weight: bold;">Dashboard</span></p>
                    </a>
                </li>
            

                
                
              

                <li class="{% if 'category' in segment %} active {% endif %}">
                    <a href="/category.html">
                        <i class="fas fa-list" style="margin-right: 5px; margin-left: 3px;"></i>
                        <p><span style="font-weight: bold;">Categories</span></p>
                    </a>
                </li>

                <li class="{% if 'csvfile' in segment %} active {% endif %}">
                    <a href="/csvfile.html">
                        <i class="bi bi-filetype-csv" style="margin-right: 5px; margin-left: 3px;"></i>
                        <p><span style="font-weight: bold;">Files/History</span></p>
                    </a>
                </li>
            
            

               
                <li class="{% if 'user' in segment %} active {% endif %}">
                    <a href="/user.html">
                        <i class="tim-icons icon-single-02"></i>
                        <p><span style="font-weight: bold;">User Profile</span></p>
                    </a>
                </li>
               
    
                <li>
                    <a href="{% url 'login' %}">
                        <i class="tim-icons icon-button-power"></i>
                        <p><span style="font-weight: bold;">Logout</span></p>
                    </a>
                </li>
            </ul>
        </div>
    </div>
