{% extends "layouts/base-fullscreen.html" %}

{% block title %} Register {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
<div class ="container">
    <form class="form" method="POST" id="form">
        {% csrf_token%}
        <h4>Forget Password</h4>
       
        <div class="form-group">
            <label for="password">Username</label>
            <input type="text" name="username" class="form-control">
        </div>
        <button class="btn" type="submit">Submit</button>
    </form>
</div>
{% endblock %}
