{% extends "layouts/base.html" %}

{% block title %} Activity Log{% endblock title %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}


    <div class="content">
        <div class="container">
            <h1>Activity Log</h1>
            <table class="table">
                <thead>
                    <tr>
                        <th>User</th>
                        <th>Action</th>
                        <th>Timestamp</th>
                    </tr>
                </thead>
                <tbody>
                    {% for log in log_activity %}
                        <tr>
                            <td>{{ log.user.username }}</td>
                            <td>{{ log.action }}</td>
                            <td>{{ log.timestamp }}</td>
                            <td>
                               
                                <a href="{% url 'delete_log' log.id %}">Delete</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock content %}

{% block javascripts %}{% endblock javascripts %}

