{% extends "layouts/base.html" %}

{% block title %} CSV Data {% endblock title %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
<div class="row">
    <div class="col-lg-12 text-center">
        <div class="card-body d-flex flex-column align-items-center justify-content-center" id="categoryContentBox" style="margin-top: 60px;">
            <h1>CSV Data for {{ user.username }}</h1>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Files</th>
                        <th scope="col">Uploaded Date</th>
                        <!-- Add more headers as needed -->
                    </tr>
                </thead>
                <tbody>
                    {% for entry in uploaded_files %}
                        <tr>
                            <td>{{ entry.csv_file.name }}</td>
                            <td>{{ entry.uploaded_at }}</td>
                            <!-- Add more fields as needed -->
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock content %}

{% block javascripts %}{% endblock javascripts %}
